In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
BabyNames_df = pd.read_csv('BABY_NAMES.zip')
BabyNames_df.head(50)

                       c:\users\sfsph\desktop\namesbystate\AK.TXT
AK F 1910.0 Mary                                             14.0
            Annie                                            12.0
            Anna                                             10.0
            Margaret                                          8.0
            Helen                                             7.0
            Elsie                                             6.0
            Lucy                                              6.0
            Dorothy                                           5.0
     1911.0 Mary                                             12.0
            Margaret                                          7.0
            Ruth                                              7.0
            Annie                                             6.0
            Elizabeth                                         6.0
            Helen                                             6.0
     1912.0 Mary                                              9.0
            Elsie                                             8.0
            Agnes                                             7.0
            Anna                                              7.0
            Helen                                             7.0
            Louise                                            7.0
            Jean                                              6.0
            Ruth                                              6.0
            Alice                                             5.0
            Esther                                            5.0
            Ethel                                             5.0
            Margaret                                          5.0
            Marie                                             5.0
     1913.0 Mary                                             21.0
            Elizabeth                                         9.0
            Margaret                                          8.0
            Helen                                             7.0
            Alice                                             5.0
            Annie                                             5.0
            Louise                                            5.0
     1914.0 Mary                                             22.0
            Margaret                                         10.0
            Alice                                             8.0
            Annie                                             8.0
            Elizabeth                                         7.0
            Helen                                             7.0
            Clara                                             6.0
            Dorothy                                           6.0
            Martha                                            6.0
            Agnes                                             5.0
            Esther                                            5.0
            Frances                                           5.0
            Julia                                             5.0
            Lillian                                           5.0
            Mildred                                           5.0
            Pauline                                           5.0